:root {
    --blue: #659DBD;
    /*  bootstrap: -info*/
    --yellow: #FBEEC1;
    --green: #28a745;
    /* bootstrap: -success */
    --grey: #f7f7f7;
<<<<<<< HEAD
  }

  .clearfix {
    content: "";
    clear: both;
    display: table;
  }
  
body {
=======
}

body {
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    padding: 1rem;
>>>>>>> 6f2b4357823c23fe4eeb5b3f561aefb1946b815e
}

.name {
    text-align: center;
    font-size: 7vw;
    margin-top: 1.5vh;
}

.chalange_name {
    font-size: 3.7vw;
    width: 55%;
}


.eco_points {
    font-size: 3.7vw;
}

.form-control {
    width: 75%;
    margin: auto;
}

.challenge_name{
    text-align: center;
    font-size: 5vw;
    width:100%;
}

.chalange_details {
    margin-top:20px;
    text-align: center;
    font-size: 5vw;
<<<<<<< HEAD
    width:100%;
=======
    width: 100%;

>>>>>>> 6f2b4357823c23fe4eeb5b3f561aefb1946b815e

}

.container-fluid {
    background-color: #659DBD;
}

#eco-point_div{
    display:block;
    margin:10px;
    border:solid var(--green) 1px;
    border-radius: 4px;
    display:flex;
    align-items: center;
}
.img {
    width: 50%;
    height:150px;
}
#eco_point_p{
    color:#28a745;
    font-size:2rem;
}

#btn {
    margin: 0%;
    background-color: var(--green);
}

#comment {
    height: 30vh;
}