:root {
    --blue: #659DBD;
    /*  bootstrap: -info*/
    --yellow: #FBEEC1;
    --green: #28a745;
    /* bootstrap: -success */
    --grey: #f7f7f7;
  }

  .clearfix {
    content: "";
    clear: both;
    display: table;
  }
  
body {
}

.name {
    text-align: center;
    font-size: 7vw;
    margin-top: 1.5vh;
}

.chalange_name {
    font-size: 3.7vw;
    width: 55%;
}


.eco_points {
    font-size: 3.7vw;
}

.form-control {
    width: 75%;
    margin: auto;
}

.challenge_name{
    text-align: center;
    font-size: 5vw;
    width:100%;
}

.chalange_details {
    margin-top:20px;
    text-align: center;
    font-size: 5vw;
    width:100%;

}

.container-fluid {
    background-color: #659DBD;
}

#eco-point_div{
    display:block;
    margin:10px;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 150px;
    height:120px;
    /* margin-right:5px; */
}
#eco_point_p{
    color:#28a745;
    font-size:1.5rem;
}

#btn {
    margin: 0%;
    background-color: var(--green);
}

#comment {
    height: 30vh;
}

#footer_tasks {
    background-color: rgba(0, 0 ,0 , 0.2) !important;
  }