:root {
    --blue: #659DBD;
    /*  bootstrap: -info*/
    --yellow: #FBEEC1;
    --green: #28a745;
    /* bootstrap: -success */
    --grey: #f7f7f7;
}

body {
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    padding: 1rem;
}

.name {
    text-align: center;
    font-size: 7vw;
    margin-top: 1.5vh;
}



.form-group {
    display: flex;
    margin-left: 12%;
    margin-bottom: 0%;
}

.chalange_name {
    font-size: 3.7vw;
    width: 55%;
}


.eco_points {
    font-size: 3.7vw;
}

.form-control {
    width: 75%;
    margin: auto;
}


.chalange_details {
    text-align: center;
    font-size: 5vw;
    width: 100%;


}

.container-fluid {
    background-color: #659DBD;
}

.img {
    float: left;
    width: 10vw;
    height: 10vw;
    margin-right: 2%;
}

#btn {
    margin: 0%;
    margin-top: 5vh;
    background-color: var(--green);
}

#comment {
    height: 30vh;
}