body {
    font-family: sans-serif;
    font-size: 1.5rem;
}

#back-icon{
    float: left;
    font-size: 1.5rem; 
}

#back-button {
    background-color: #28a745;
}

.nav-link {
    color: white;
    font-weight: bold;
}

#link {
  color: black;
}

#ecoicon {
    padding-top: 4rem;
    width: 15rem;
    display: block;
    margin: auto; 
}
  
  .btn_post {
    background-color: rgba(0, 0 ,0 , 0.2) !important;
  }
  
  #button {
    display: block;
    margin: auto;   
    font-size: 1.5rem;
    width: 5rem;
    background-color: #28a745;
}

  #post-desc {
    margin-top: 1rem;
    width: 24rem;  
}

#add-post, .mb-3 {
    padding: 10px;
}
