
:root {
  --blue: #659DBD;
  /*  bootstrap: -info*/
  --yellow: #FBEEC1;
  --green: #28a745;
  /* bootstrap: -success */
  --grey: #f7f7f7;
}
body {
  height: 100%;
  margin: 0%;
  padding-left: 1rem;
}

#back-icon{
  float: left;
  font-size:3rem;
  color: black;
}

#back {
  color: black;
  padding-left: 0.8rem;
  font-size: 1.8rem;
}

#heading {
  text-align: center;
}


.name {
  text-align: center;
  font-size: 7vw;
  margin-top: 1.5vh;
}


#button {
  display: block;
  margin: auto;   
  font-size: 1.5rem;
  width: 5rem;
  background-color: #28a745;
}



.form-group {
  display: flex;
  margin-left: 2%;
  margin-bottom: 0%;
}

.chalange_name {
  font-size: 3.7vw;
  width: 72%;
}


.eco_points {
  font-size: 3.7vw;
}

.img {
  float: left;
  width: 5vw;
  height: 5vw;
  margin-right: 2%;
}

#list {
  width: 80%;
  margin: auto;
}