:root {
  --blue: #659DBD;
  /*  bootstrap: -info*/
  --yellow: #FBEEC1;
  --green: #28a745;
  /* bootstrap: -success */
  --grey: #f7f7f7;
  --ligth_green: #28a745;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.html,
body {
	height: 100%;
  font-family: 'Lato', sans-serif;
}



form{
  display:block;
  margin: 20px auto 20px auto;
  width:80%;
}

input{
  width:100%;
  display:block;
  margin: 5px;
}

#desc{
 width:100%;
 margin-bottom: 20px;
}

.remove_member{
  float: right;
}

#groupImg {
  width:90%;
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 1rem;
  border:solid var(--green) 1px;

}

.labels {
  font-size: 1.3rem;
}

#group_members{
  display:flex;
  flex-direction: column;
  padding: 10px;
}

.member{
  margin:10px;
  padding: 10px;
  background-color: var(--grey);
}

.member p{
  margin:5px;
}


.btn_club {
  background-color: rgba(0, 0 ,0 , 0.2) !important;
}
