:root {
  --blue: #659DBD;
  /*  bootstrap: -info*/
  --yellow: #FBEEC1;
  --green: #28a745;
  /* bootstrap: -success */
  --grey: #f7f7f7;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.post{
  min-height: 100px;
  width: 95%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 1rem;
  /* background-color: rgba(0, 0, 0, 0.1); */
  padding: 10px;

}

#name {
  font-size: 1.4rem;
  font-weight: bold;
}

.post_desc{
  font-size: 1.2rem;
}

.content_exp{
  margin:10px;
  display:block;
  background-color: rgba(0, 0, 0, 0.1);
  padding:10px;
  border-radius: 5px;
}

#date {
  font-size: 1rem;
  color: grey;
}

.post img{
  display:block;
  padding:5px;
  width: 60%;
  margin-left:auto;
  margin-right: auto;
}

.post_btn{
  display:flex;
  justify-content: space-evenly;
}

.post_btn button{
  margin-left: 5px;
}


/* footer */

.btn_club {
  background-color: rgba(0, 0 ,0 , 0.2) !important;
}

/* nav */
.nav{
  width:100%;
}


.feed-btn{
  color: black;
  font-weight: bold;
}

#feed_li_challenge{
  margin-right: 0.3rem;
}
#back-button , #feed_li_challenge{
  background-color: #28a745;
}