:root {
  --blue: #659DBD;
  /*  bootstrap: -info*/
  --yellow: #FBEEC1;
  --green: #28a745;
  /* bootstrap: -success */
  --grey: #f7f7f7;
  --ligth_green: #28a745;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.html,
body {
	height: 100%;
  font-family: 'Lato', sans-serif;
}

#group_code{
  margin:20px;
  float:left;
}

#admin_edit{
  margin:20px;
  float:right;
  border:solid var(--green) 2px;
  padding:3px;
}
#admin_edit a{
  color:#28a745;
  text-decoration: none;
}

#group_info_content{
  padding:20px;
}

#info_contents {
  width:100%;
}

#groupImg {
  width:90%;
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 1rem;
  border:solid var(--green) 1px;

}
#group_name{
  margin:10px;
}

#group_desc{
  border:solid var(--green) 1px;
  border-radius: 4px;
  padding:2px;
}
#group_people{
  background-color: var(--grey);
}

#group_leader_div{
  background-color: var(--green);
  width:90%;
  border-radius: 10px;
  padding:3px;
  margin-right:auto;
  margin-left:auto;
}


#group_members{
  display:flex;
  flex-direction: column;
  background-color: var(--grey);
  padding:10px;
}

.member{
  border-radius: 1rem;
  background-color: rgba(40, 167, 69, 0.5);
  margin:10px
}

.member p{
  margin:5px;
}

.btn_club {
  background-color: rgba(0, 0 ,0 , 0.2) !important;
}


#back-button {
  background-color: #28a745;
}