:root {
  --blue: #659DBD;
  /*  bootstrap: -info*/
  --yellow: #FBEEC1;
  --green: #28a745;
  /* bootstrap: -success */
  --grey: #f7f7f7;
  --ligth_green: #28a745;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.html,
body {
	height: 100%;

}

#group_info_content{
  padding:20px;
}

#info_contents {
  width:100%;
}

#groupImg {
  width:90%;
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 1rem;
}

#group_people{
  background-color: var(--grey);
}

#group_leader_div{
  background-color: var(--green);
}

#group_members{
  display:flex;
  flex-direction: column;
  background-color: var(--grey);
  
}

.member{
  border-radius: 1rem;
  background-color: rgba(40, 167, 69, 0.5);
  margin:10px
}

.member p{
  margin:5px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--green);
  text-align: center;
  padding: 3px 0;
  
}

.btnFoot {
  width: 32%;
  height: 5vh;
  background-color: rgb(75, 63, 63);
}

.btn_club {
  background-color: rgba(0, 0 ,0 , 0.2) !important;
}

footer i{
  font-size: 1.5rem;
} 

#back-icon{
  float: left;
  font-size:24px;
  color: white;

}

#back {
color: white;
}

#back-button {
  background-color: #28a745;
}

.nav-link {
color: black;
font-weight: bold;
}