:root {
  --blue: #659DBD;
  /*  bootstrap: -info*/
  --yellow: #FBEEC1;
  --green: #28a745;
  /* bootstrap: -success */
  --grey: #f7f7f7;
  --ligth_green: #28a745;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.html,
body {
	height: 100%;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}



#admin_edit{
  margin:20px;
  float:right;
  border:solid var(--green) 2px;
  padding:3px;
}
#admin_edit a{
  color:#28a745;
  text-decoration: none;
}


#info_contents {
  width:100%;
}

#groupImg {
  width:90%;
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 1rem;
  border:solid var(--green) 1px;

}
#group_desc{
  font-size: 1.2rem;
}


#group_leader_div{
  width:90%;
  margin-right:auto;
  margin-left:auto;
}

.member_name{
  padding-left: 1rem;
}
#group_members{
  display:flex;
  flex-direction: column;
  font-size: 1.2rem;
}
#group_leader{
  font-size: 1.4rem;
}
#profilePic{
  width: 20%;
}
.btn_club {
  background-color: rgba(0, 0 ,0 , 0.2) !important;
}