

:root {
  -blue: #659DBD;
  -yellow: #FBEEC1;
  -green: #4daf54;
}

body {
  font-family: 'Noto Serif', serif;
  font-size: 23px;
  padding: 1rem;
}


#back-icon{
  float: left;
  font-size:2rem;
  color: black;
}

#back {
  color: black;
  padding-left: 0.4rem;
  font-size: 1.2rem;
}

#heading {
  text-align: center;
}


.name {
  text-align: center;
  font-size: 7vw;
  margin-top: 1.5vh;
}



.feild_name {
  text-align: center;
  font-size: 5vw;
  width: 100%;
  margin-top: 10%;
}

.form-control {
  width: 75%;
  margin: auto;
}


#btn {
  margin: 0%;
  margin-top: 10%;
  background-color: #28a745;

}

.img {
  display: block;
  margin: 0 auto;
  margin-top: 4.5vh;
  width: 45%;
}

#button {
  display: block;
  margin: auto;
}

#text {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  color: #003366;
}