@import url(https://fonts.googleapis.com/css?family=Hind);

:root {
  -blue: #659DBD;
  -yellow: #FBEEC1;
  -green: #4daf54;
}

body {
  font-family: 'Hind', sans-serif;
  height: 100%;
  margin: 0%;
}

#body {
  font-size: 25px;
}

#buttons {
  margin-top: 40px;
}

.btn-text{
  font-size: 25px;
}
#back-icon{
  float: left;
  font-size:24px;
  color: white;
  
}

#back-button {
  background-color: #28a745;
}

.nav-link {
  font-weight: bold;
}

#back {
  color: white;
}

#head{
  color: black;
}

#btn-div {
  padding: 1rem;
  margin-left: 9rem;
}

.name {
  text-align: center;
  font-size: 7vw;
  margin-top: 1.5vh;
}



.feild_name {
  text-align: center;
  font-size: 5vw;
  width: 100%;
  margin-top: 10%;
}

.form-control {
  width: 75%;
  margin: auto;
}


#btn {
  margin: 0%;
  margin-top: 10%;
}

.img {
  display: block;
  margin: 0 auto;
  margin-top: 4.5vh;
  width: 45%;
}

#button {
  display: block;
  margin: auto;
}

#text {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  color: #003366;
}