body {
    font-family: 'Noto Serif', serif;
}

#back-icon{
    float: left;
    font-size:2rem;
    color: black;
}

#back {
    color: black;
    padding-left: 0.4rem;
    font-size: 1.2rem;
}

#backButton {
    background-color: #28a745; 
}

.nav-link {
    color: #003366;
    font-weight: bold;
}

#heading {
    text-align: center;
}

.box {
    background-color: #E9E7E6;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.team {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
}

.box h5 {
   text-align: center;
   color: #003366;
}

#icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#button {
    display: block;
    margin: auto;  
    background-color: #28a745; 
}

#Joinbutton {
    display: block;
    margin: auto; 
    background-color: #28a745;
}

.createTeam {
    padding-bottom: 20px;
}


#code {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

#wrong {
    color: red;
    width: 80%;
    margin: auto;
}

#text {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    color: #003366;
}