body {
    font-family: 'Lato', sans-serif;
    width:100%;
}
#app-logo {
    padding-top: 1.5rem;
    display: block;
    margin:auto;
    width: 15rem;
}
#app-name {
    text-align: center;
    font-size: 1.8rem;
    color: #28a745;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
#app-tagline {
    font-size: 1.4rem;
    text-align: center;
}
#container{
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 22rem;
    margin: auto;
}
#footer {
    width: 18rem;
    padding-top: 1rem;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    color: #28a745;
    font-weight: bold;
}
#googleSignIn {
    margin: 1rem 0;
}
