body {
    font-family: 'Lato', sans-serif;
}
#app-logo {
    padding-top: 1.5rem;
    display: block;
    margin:auto;
    width: 15rem;
}

#app-name {
    text-align: center;
    font-size: 1.8rem;
    color: #28a745;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}

#app-tagline {
    font-size: 1.4rem;
    text-align: center;

    
}

#container{
    border: 1px solid white;
    height: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 22rem;
    margin: auto;
}

#footer {
    width: 18rem;
    padding-top: 5rem;
    text-align: center;
<<<<<<< HEAD
    font-size: 22px;
    color: #006600;
}
=======
    margin: auto;
    font-size: 1.4rem;
    color: #28a745;
    font-weight: bold;
}

>>>>>>> 2e9f16d1911b13cd4d6c63fa288dcea2b34a6a92
