body {
    font-family: 'Noto Serif', serif;
}

#userInfo {
    margin-top: 22px;
    border: 1px solid black;
    
}

#ecoPoints, #email-address{
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    color: #003366;
}
.name-user {
    text-align: center;
    font-size: 32px;
}

#buttons {
    margin-top: 40px;
}

.btn-text{
    font-size: 25px;
}
.clickable {
    width: 200px;
}
#back-icon{
    float: left;
    font-size:24px;
    
}

#back-button {
    background-color: #28a745;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.profile-btn{
    color: black;
    font-weight: bold;
}