body {
    background-color: #f7f7f7;
    font-family: sans-serif;
    font-size: 1.5rem;
}

#back-icon{
    float: left;
    font-size: 1.5rem; 
}

#back-button {
    background-color: #28a745;
}

.nav-link {
    color: white;
    font-weight: bold;
}

#link {
  color: black;
}

#ecoicon {
    padding-top: 4rem;
    width: 15rem;
    display: block;
    margin: auto; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #28a745;
    text-align: center;
    padding: 3px 0;
  }
  
  .btnFoot {
    width: 32%;
    height: 5vh;
    /* background-color: rgb(75, 63, 63); */
  }
  
  .btn_post {
    background-color: rgba(0, 0 ,0 , 0.2) !important;
  }
  
  #button {
    display: block;
    margin: auto;   
    font-size: 1.5rem;
    width: 5rem;
    background-color: #28a745;
}

  #post-desc {
    margin-top: 1rem;
    width: 24rem;
  
  
}
  footer i{
    font-size: 1.5rem;
  }

#add-post, .mb-3 {
    padding: 10px;
}

