#buttons {
    margin-top: 40px;
}

.btn-text{
    font-size: 25px;
}
#back-icon{
    float: left;
    font-size:24px;
    color: white;
    
}

#back-button {
    background-color: #28a745;
}

.nav-link {
    font-weight: bold;
}

#back {
    color: white;
}

#about {
    color: black;
}

#welcome {
    font-size: 2.2rem;
    text-align: center;
}

.heading1 {
    font-size: 1.5rem;
}

#add-post, .mb-3 {
    padding: 1rem;
}

#bio {
    width: 24rem;
    height: 10rem;
}

#btn-div {
    padding: 1rem;
    margin-left: 8rem;
}

#add-button {
    background-color: #28a745;
    color: white;
    width: 5rem
}