body {
    font-family: 'Noto Serif', serif;
    font-size: 23px;
}

#back-icon{
    float: left;
    font-size:24px;
    
}

#back-button {
    background-color: #659DBD;
}

.nav-link {
    color: #003366;
    font-weight: bold;
}

.name-user {
    padding: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px 0;
}