@import url(https://fonts.googleapis.com/css?family=Hind);

body {
  font-family: 'Hind', sans-serif;
  height: 100%;
  margin: 0%;
}

.name {
  text-align: center;
  margin: 0%;
  font-size: 3em;
}

.feild_name {
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.form-control {
  width: 50%;
  margin: auto;
}