body {
    font-family: 'Noto Serif', serif;
    font-size: 23px;
    padding: 1rem;
}

#back-icon{
  float: left;
  font-size: 1.8rem;
  color: black;
}

#back {
  color: black;
  padding-left: 0.8rem;
  font-size: 1.3rem;
}

#heading {
  text-align: center;
  color: black;
}


.name-user {
    padding: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #28a745;
  text-align: center;
  padding: 3px 0;
}

.btnFoot {
  width: 32%;
  height: 5vh;
  
}

.btn_profile {
  background-color: rgba(0, 0 ,0 , 0.2) !important;
}

footer i{
  font-size: 1.5rem;
}

.mb-3 {
  position: fixed;
  left: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
  padding: 3px 0;
}